# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python backend rules
__pycache__/
chatenv/
*.pyc
.env
packages.txt
requirements1.txt
requirements_old.txt
whisper_med_stt.py
app_old.py